extends layout

block content
  h1= title
  p Welcome to #{title}
  div.Title 这里的项目的主页
  ul.view_lists
    li#reg 注册页面
    li#login  登录页面
  script(type="text/javascript",src="/javascripts/main.js")
   