extends layout

block content
  form(method='post')
    div.enter
        label(for="username") username:  
        input(type='text',name="name" placeholder='请输入用户名' id="username")
    div.enter
        label(for="password") password:  
        input(type='password',name="password" placeholder='请输入密码' id="password")
    button(type="submit" id="loginSubmit") 确认登录
  div #{title}
  div #{success}
  div #{user}
  div #{error}
  script(type="text/javascript",src="/javascripts/main.js")
    