extends layout

block content
  form(method="post")
    div.enter
        label(for="username") 用户名:  
        input(type='text',name="name" placeholder='请输入用户名' id="username")
    div.enter
        label(for="password") 密码:  
        input(type='password',name="password" placeholder='请输入密码' id="password")
    div.enter
        label(for="passwordAgin") 确认密码:  
        input(type='password',name="passwordAgin" placeholder='请确认密码' id="passwordAgin")
    div.enter
        label(for="email") 邮箱:  
        input(type='text',name="email" placeholder='请输入邮箱' id="email")
    button(type="submit" id="regSubmit")确认注册
  script(type="text/javascript",src="/javascripts/main.js")