extends layout

block content
  form
    div.enter
        label(for="username") username:  
        input(type='text',name="username" placeholder='请输入用户名' id="username")
    div.enter
        label(for="password") password:  
        input(type='password',name="password" placeholder='请输入密码' id="password")
    div.enter
        label(for="passwordAgin") passwordAgin:  
        input(type='password',name="passwordAgin" placeholder='请输入密码' id="passwordAgin")
    button(type="submit" id="regSubmit")确认注册
    script(type="text/javascript",src="/javascripts/main.js")